html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers
 article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
}
html,body,
  #app{height: 100%; 
}
#app{
  display: flex;
  align-items: center;
  justify-content: center;
}
  
body{
  background-color: #e6eff6;
  font-family: 'Karla', sans-serif;
}
.attribution { 
  font-size: 0.7rem;
  text-align: center; 
  color: hsl(228, 45%, 44%); 
}
.card{
  display: flex;
  flex-direction: column;
  width: 635px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 20px 50px 0px#d1d6e0;
}
.white-card{
  background-color:#ffff ;
  padding: 35px  78px 38px 38px;
}
.title{
  color:#2bb3b1;
  font-weight: 700;
  margin-bottom: 23px;
  font-size: 1.38rem;
}
.days{
  color: #c2df35;
  font-weight: 700;
  font-size: 1rem;
}
.first-p{
  font-size: 0.97rem;
  margin-top: 14px;
  line-height: 1.4rem;
  color: #a8a9ab;
}
.green-card{
  display: flex;
}
.dark-card,
.light-card{
  width: 50%;
}
.dark-card{
  background-color:#2bb3b1;
  color: #ffff;
  padding: 45px 65px 38px 38px;
}
.Price-info{
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 21px;
}
.price{
  font-size: 1.8rem;
  font-weight: 700;
}
.per-month{
  opacity: 0.5;
  font-size: 0.9rem;
  margin-left: 14px;
}
.offer{
  color: #fff;
  opacity: 0.8;
  font-size:0.9rem;
}
.monthly-offer,
.why-us{
  font-size: 1.19rem;
}
button{
  border: 0;
  background-color: #bfdf32;
  color: #ffff;
  height: 48px;
  border-radius:6px;
  margin-top: 34px;
  width: 237px;
  box-shadow: 0px 2px 10px 0px#717b8e;
  border: 0;
}
.button:hover{
  background-color: #b5d02f;
  cursor: pointer;

}
.light-card{
  background-color:#4abebd;
  color: #ffff;
  padding: 45px  65px 38px 38px;
}
.why-p{
  color: #bae8e9;
  font-size: 0.896rem;
  margin-top: 21px;
  line-height: 1.3rem;
  padding-right: 30px;
}

@media screen and (max-width: 508px) {
.green-card{
  display: flex;
  flex-direction: column;
}
.dark-card,
.light-card{
  width: 100%;
}
.white-card{
  padding: 40px 40px 30px 30px;
}
.dark-card{
  padding: 40px 30px 30px 30px;
}
.light-card{
  padding: 40px 88px 30px 30px;
}
button{
  width: 100%;
}
#app{height: auto;
padding: 25px;
}
}
